html{
    background-color: rgb(17, 11, 11);
    color: white;
    font-family: "Roboto",sans-serif;
}

#titlePrin{
    font-family: "Roboto", sans-serif;
    color: white;
    text-shadow: 3px 3px black;
}

#desc{
    color: white;
    font-family: "Montserrat",sans-serif;
    font-weight: bolder;
}

#contentDesc{
    color: white;
    font-family: "Montserrat",sans-serif;

}

#descrip{
    margin-left: 2cm;
}

#mar{
    border:2px solid rgb(52, 158, 52);
    border-radius: 80px;
    width: 100px;
    height: 50px;
    padding-top: 0.256cm ;
    margin-top: 1cm;
    display: flex;
    justify-content: center;
    align-content:center;
    font-family: "Roboto",sans-serif;
    text-shadow: 1px 1px 2px black;
    color: white;
    transition: 0.9s;
}

#mar:hover{
    color: rgb(52, 158, 52);
    background-color: white;
    border:2px solid white;
    box-shadow: 2px 2px 1px white;
    transition: 0.5s;
}

#gm{
    text-align: center;
}

hr{
    background-color: lime;
    box-shadow: 1px 1px 2px lime;
}